* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 100%;
  text-align: center;
}

#fonts {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
}

.test {
  font-size: 2rem;
  background-color: #eee;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
