* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

div {
  font-size: 12rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.one {
  background-color: #0075ff;
}

.two {
  background-color: #00ff75;
}

.three {
  background-color: #ff7500;
}

.four {
  background-color: #ff0075;
}

.btn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
  color: black;
}
